<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsMenu" aria-controls="navbarsMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarsMenu">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.navigation %}
        <li {% if page.url == item.link %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
          <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>