.autosize-img
  width: 100%
  height: auto


.autosize-bg
  background-image: url('../../assets/images/programming-banner1.png')
  background-size: cover
  background-repeat: no-repeat

.index-title
  text-align: center 
  color: white