---

layout: landing
title: Home Page

---

  <div class="row hero-image" style="margin:0px">
    <div class="col-md-12 hero-text">
      <br>
        <h1 class="hero-title display-3">Cryptable</h1>
        <h5 class="hero-sub-title ">Cryptable is a company, specialized in cryptbashographical solutions.</h5>
      <br>
    </div>
  </div>

  <div class="row services" style="margin:0px">
    <div class="col-6 d-none d-md-block">
      <div class="container-fluid mx-auto md-caroussel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for service in site.services %}
              <div {% if service.title == "PKI and Key Management" %}class="carousel-item active"{% else %}class="carousel-item"{% endif %} >
                <a href="{{ service.url }}">
                  <img class="d-block img-fluid rounded-circle" src="{{ service.image }}" alt="{{ service.title }}">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>{{ service.title }}</h5>
                    <p>{{ service.summary }}</p>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="container-fluid">
        <img class="process-image" src="/assets/images/simple_process1.png" align="left">
        <p>When we are involved in the complete project we will always follow internally the same principle "Keep It
          Simple Stupid" and take "Baby-Steps". We will adapt to the project management model of your company, but we
          will follow the general process described in the picture.
        </p>
        <p>In each project around cryptography or cryptographic tooling, we will probably start with something already
          present. We will analyse and document the AS-IS processes, tooling and people. This is done using interviews
          with key people within your company. We have a clear picture now to perform the maturity and gap-analysis.
        </p>
        <p>According to your company's business model, we will use an industry standard model and adapt it to your
          business needs. This will define the maturity you have for Certificate Management, Identity & Access
          Management, Strong Authentication and Cryptographic development processes. Using the maturity model, we shall
          define the minimal maturity target according to your companies strategy.
          Using the minimal maturity target we can define the missing processes and tooling.
        </p>
        <p>Using the "Baby-Step" model we will start the change management process. First introduction of tooling shall
          be a minimal viable product (MVP) together with the basic processes around it. This is done in a transparent
          and documented way together with management, development and operations.
        </p>
        <p>Afterwards we reassess the new AS-IS situation and if necessary start a new cycle.</p>
      </div>
    </div>
  </div>
  <div class="row d-block d-md-none d-flex">
    {% for service in site.services %}
      <div class="col-lg">
        <div class="card m-3">
          <a href="{{ service.url }}">
            <img class="d-none d-sm-block img-fluid rounded" src="{{ service.image }}" alt="PKI and Key Management">
            <div class="card-body">
              <h5 class="card-text">{{ service.title }}</h5>
              <p class="card-text">{{ service.summary }}</p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

